#ifndef {{ filename }}_h
#define {{ filename }}_h

#include <pebble.h>

#ifndef {{ filename|upper }}_MAX_STRING_LENGTH
#define {{ filename|upper }}_MAX_STRING_LENGTH 30
#endif

{% macro item_header(item) %}
{% if 'appKey' in item %}
#define {{ item|getid|cvarname|upper }}_PKEY {{ appinfo['appKeys'][item['appKey']] }}
{% if item['type'] == 'select' or item['type'] == 'radiogroup' %}
{% if item['options'][0]['value'] is string %}
char* get_{{ item|getid|cvarname }}();
{% else %}
typedef enum {
{% for option in item['options']: %}
	{{ item|getid|cvarname|upper }}_{{ option['label']|cvarname|upper }} = {{ option['value'] }},
{% endfor %}
} {{ item|getid|cvarname|upper }}Value;
{{ item|getid|cvarname|upper }}Value get_{{ item|getid|cvarname }}();
{% endif %}
{% elif item['type'] == 'toggle' %}
bool get_{{ item|getid|cvarname }}();
{% elif item['type'] == 'heading' or item['type'] == 'text' or item['type'] == 'input' %}
char* get_{{ item|getid|cvarname }}();
{% elif item['type'] == 'color' %}
GColor get_{{ item|getid|cvarname }}();
{% elif item['type'] == 'checkboxgroup' %}
#pragma message "'checkboxgroup' is not yet supported"
{% else %}
#error Unknown type '{{ item['type'] }}' for item '{{ item['appKey'] }}'
{% endif %}
{% endif %}
{% endmacro %}

{% for item in config %}
{% if item['type'] == 'section' %}
{% for item in item['items'] %}
{{ item_header(item) }}
{% endfor %}
{% else %}
{{ item_header(item) }}
{% endif %}
{% endfor %}

void {{ filename }}_register_custom_inbox_received(AppMessageInboxReceived received_callback); 

void {{ filename }}_init(const uint32_t size_inbound, const uint32_t size_outbound);

void {{ filename }}_deinit();

#endif